.wrapper {
  display: none;
  position: sticky;
  top: 90px;
  max-width: 320px;
  max-height: calc(100vh - 360px);
  margin-right: -80px;
  overflow: none auto;
  padding: 0px 10px;
  border-left: 2px solid var(--gray-2);
}

@media screen and (min-width: 81.25rem) {
  .wrapper {
    display: block;
  }
}

.pen {
  margin-bottom: 6px;
}

.tableOfContents > ul {
  width: 240px;
  margin-left: auto;
}

.tableOfContents ul {
  list-style: none;
  padding: 0;
}

.tableOfContents ul ul {
  padding-left: 10px;
}

.tableOfContents li {
  margin-bottom: 3px;
}

.tableOfContents a {
  text-decoration: none;
  color: var(--gray-3);
  transition: 0.1s;
}

.tableOfContents a:hover {
  color: var(--primary-c1);
}

.tableOfContents a,
.tableOfContents p,
.tableOfContents code {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tableOfContents code[class*='language-'] {
  all: unset;
}

.tableOfContents a.active {
  display: inline-block;
  color: var(--primary-c1);
}
