@use '@/styles/abstracts' as *;

.wrapper {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px 20px;

  @include mobileAndUp {
    margin-top: 60px;
    padding: 0px 60px;
  }

  @include tabletAndUp {
    margin-top: 90px;
  }

  .title {
    @include typo-d2;

    color: var(--gray-5);
    font-size: calc(30 / 16 * 1rem);
  }

  .date {
    @include typo-b7;

    margin-top: 18px;
    color: var(--gray-4);
    font-size: calc(16 / 16 * 1rem);
  }

  .tagList {
    margin-top: 25px;
  }

  .heroImage {
    margin-top: 20px;
    width: 100%;
    min-width: 300px;
    max-height: 500px;

    img {
      border-radius: 5px;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 300px;

    @include widescreenAndUp {
      width: auto;
      width: 1010px;
    }

    .content {
      margin-top: 30px;
      max-width: 780px;
      min-width: 300px;
      color: var(--gray-5);
      word-break: break-all;
      font-size: calc(18 / 16 * 1rem);
      line-height: 1.5;

      --blockquote-bgColor: var(--article-background);
      --blockquote-color: var(--icon-color);

      a {
        color: var(--primary-c1);
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: 0.1s;

        &:hover {
          text-decoration-color: var(--primary-c1);
        }
      }

      img {
        display: block;
        margin: 0 auto;
        border-radius: 5px;
      }

      blockquote {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 20px 15px;
        padding-right: 18px;
        background-color: var(--blockquote-bgColor);
        color: var(--blockquote-color);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        &::before {
          content: url("data:image/svg+xml,<svg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.08731 16.6217H18.375V18.3717H2.625V14.6594L11.2871 5.99734L14.9993 9.7096L8.08731 16.6217ZM12.5245 4.75989L14.3806 2.90374C14.7224 2.56203 15.2764 2.56203 15.618 2.90374L18.093 5.37862C18.4347 5.72032 18.4347 6.27434 18.093 6.61605L16.2368 8.4722L12.5245 4.75989Z' fill='%2315AF73'/></svg>%0A");
          width: 21px;
          height: 21px;
          margin: 10px;
        }

        p {
          margin: 0;
          font-style: normal;
          font-weight: 600;
          font-size: calc(16 / 16 * 1rem);
          word-break: break-all;
        }
      }

      &:not(pre) > code[class*='language-'] {
        padding: 0em 0.4em;
      }

      p {
        display: block;
        margin-bottom: 16px;
      }

      h1 {
        margin-top: 28px;
        margin-bottom: 16px;
        border-bottom: 1px solid #eee;
      }

      h2 {
        margin-top: 24px;
        margin-bottom: 16px;
        border-bottom: 1px solid #eee;

        code[class*='language-'] {
          padding: 0;
        }
      }

      h3 {
        margin-top: 16px;
        margin-bottom: 16px;
      }

      h1,
      h2,
      h3 {
        scroll-margin-top: 73px;
      }

      ol,
      ul {
        margin-bottom: 16px;
      }

      table {
        margin-bottom: 16px;
        width: 100%;
        min-width: 40%;
        border: 1px solid var(--primary-c1);
        border-radius: 5px;
        border-collapse: collapse;
        font-size: 0.875rem;

        tbody {
          tr {
            &:nth-child(2n) {
              background-color: rgba(21, 175, 115, 0.1);
            }
          }
        }

        th,
        td {
          word-break: break-all;
          padding: 0.5em;
          border: 1px solid var(--primary-c1);
        }

        tr {
          & > th {
            border-bottom: 3px solid var(--primary-c1);
          }
        }
      }
    }
  }

  .bio {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}
