.main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  max-width: 1400px;
}

.wrapper {
  flex: 1;
}

.divider {
  display: none;
}

.tagList {
  margin-top: 20px;
}

.postList {
  margin-top: 35px;
}

@media screen and (min-width: 31.25rem) {
  .aside {
    padding: 0px 40px;
  }

  .wrapper {
    padding: 0px 40px;
  }
}

@media screen and (min-width: 48.75rem) {
  .shrinkSpace {
    height: 30px;
  }

  .divider {
    display: block;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 62.5rem) {
  .main {
    flex-direction: row;
    padding: 0px 60px;
  }

  .aside {
    margin-top: 150px;
    padding: 0px;
  }

  .shrinkSpace {
    display: block;
    flex: 1;
    min-width: 20px;
    max-width: 150px;
  }

  .wrapper {
    padding: 0px;
  }
}
