.card {
  min-width: 260px;
}

@media screen and (min-width: 62.5rem) {
  .card {
    max-width: 260px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  gap: 20px;
}

@media screen and (min-width: 410px) {
  .wrapper {
    flex-direction: row;
  }
}

.postProfileImage {
  display: block;
  flex-shrink: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.postProfileImage img {
  border-radius: 50%;
}

.iconWrapper {
  display: flex;
  margin-top: 16px;
}

.name {
  color: var(--primary-c1);
}

.description {
  margin-top: 20px;
  color: var(--gray-3);
}

.info {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-top: 25px;
}

.profileImage img {
  border-radius: 50%;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: 0.1s;
}

.profileIcon:hover {
  background-color: rgba(21, 175, 115, 0.1);
}
