.card {
  min-width: 260px;
}

@media screen and (min-width: 56.25rem) {
  .card {
    max-width: 260px;
  }
}

.name {
  color: var(--primary-c1);
}

.description {
  margin-top: 20px;
  color: var(--gray-3);
}

.info {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-top: 25px;
}

.profileImage {
  border-radius: 50%;
  margin-right: 10px;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: 0.1s;
}

.profileIcon:hover {
  background-color: rgba(21, 175, 115, 0.1);
}
